.food {
  padding-bottom: 60px;
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__info {
    margin-bottom: 30px;
  }

  &__icon {
    position: absolute;
    top: 0;
    height: 100%;
    margin: 0 auto;
    z-index: -1;
    @include onPoint {
      width: auto;
      height: auto;
      top: 0;
    }
    &--burger {
      right: -25%;
      height: auto;
    }
  
    &--croissant {
      left: -35%;
      height: auto;
    }
  
    &--light {
      right: -25%;
      height: auto;
    }
  
    &--nutritious {
      left: -25%;
    }
  
    &--soup {
      right: -25%;
      @include onPoint {
        height: 100%;
      }
    }
  
    &--salad {
      left: -30%;
      
    }
  
    &--tostada {
      right: -30%;
    }

    &--crepe {
      left: -20%;
    }
  
    &--pancake {
      left: -25%;
    }
  
    &--brunch {
      right: -25%;
    }
  }
}