.footer {
  background-color: $secondary-color;
  border-top: 1px solid $border-color;

  &__content {
    display: grid;
    padding: 30px 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
  }

  &__logo {
    height: 40px;
    width: 70px;
  }

  &__insta {
    height: 50px;
    width: 50px;
    grid-row: 2;
    margin-left: 15px;
  }

  &__link {
    text-decoration: none;
    color:#759242;
  }

  &__label {
    font-family: Caveat;
    font-size: 25px;
  }
}